In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from datetime import datetime

In [4]:
my_year = 2017
my_month = 11
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [5]:
my_date = datetime(my_year, my_month, my_day)

In [6]:
# defaults to 0 hours and 0 minutes
my_date

datetime.datetime(2017, 11, 2, 0, 0)

In [7]:
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_minute, my_second)

In [8]:
type(my_date_time)

datetime.datetime

In [9]:
my_date_time.day

2

In [10]:
first_two = [datetime(2016,1,1), datetime(2016,1,2)]

In [11]:
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [12]:
type(first_two)

list

In [13]:
# not just an index call
dt_ind = pd.DatetimeIndex(first_two)

In [14]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [15]:
data = np.random.randn(2, 2)

In [16]:
data

array([[-0.319756  ,  0.67350591],
       [ 0.83115953,  0.807435  ]])

In [17]:
cols = ['a', 'b']

In [18]:
df = pd.DataFrame(data, dt_ind, cols)

In [19]:
df

                   a         b
2016-01-01 -0.319756  0.673506
2016-01-02  0.831160  0.807435

In [20]:
# index at position 1 is the latest date
df.index.argmax()

1

In [21]:
df.index.max()

Timestamp('2016-01-02 00:00:00')